.subjectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align:center;
    /*align-items: center;*/
    
    font-size: 0.5em;
    height: 50em;
    width: 50em;
    /* border: solid green 5px;  */
    margin: 0.5em;
    }
    
 
        .fade {
            opacity: 1.0;
         }
         .fade :hover {
            opacity: 0.5;
            background-color: #DCDCF9;
            opacity: 50%;
            border: 2px solid #171695;
            border-radius: 1em;
            margin: 0.5em;
         }
    
    img {
        max-height: 35em;
        max-width: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .h33 {
        align-content: center;
        align-items: center;
        text-align: center;
        font-size: 5em;
        background-color: white;
        border: 0;
    }